

.bar {
  fill: #666;
  stroke-width:1px;
}

.bar:hover {
  fill: #333;
}

.axis {
  font-family: 'Gudea', sans-serif;
  color:#fff;
  font-size: 0.5em;
  /*font: 10px sans-serif;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

path {
  fill: white;
  stroke: #666;
  stroke-width: 0.05px;
  
}




