
html, body {
  
	height: 100%;
	padding: 0;
  margin: 0;
  /*overflow: hidden;*/
  background-color: #F9F1EA; 
  /*font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif; */ 
  font-family: 'Gudea', sans-serif;
  color:#666;
  font-size: 1em;
}

#stage{
  position:absolute;
  top:0em;
  left:0em;
  width:48em; /*768px*/
  
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0px;
}

.hLine {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #666;
    margin: 1em 0em 1em 0em;
    padding: 0;
}

.vLine {
    display: block;
    width: 1px;
    border: 0;
    border-left: 1px solid #666;
    margin: 0em 0em 0em 0em;
    padding: 0;
}

td, th {
    position:relative;
    top:-1em;
    left:3em;
    padding: 1px 1px;
}


.menu_container {
  position:absolute;
  top:0em;
  height: 8em;
  width:100%;
  background-color:#FEE6CE;
  z-index:100;
  -webkit-box-shadow: 0px 4px 8px -4px black;
  -moz-box-shadow: 0px 4px 8px -4px black;
  box-shadow: 0px 4px 8px -4px black;
  
}

.menu_container #menu_bar {
  position:absolute;
  padding:1em;
  
    
}

.menu_container #btn_menu{
  position:relative;
  top:-6em;
  left:640px;
  width:64px;
  height:64px;
}

#menu_bar h1 {

}
.menu_container #menu_bar h2 {
  position:relative;
  top:-0.75em;
}

.menu_container #menu_bar .hLine {
  position:relative;
  top:-0.5em;
}

.menu_container #menu_bar .vLine {
  position:absolute;
  top:1em;
  height:6em;
}

.domain_container{
  position:absolute;
  top:8em;
  height: 14em;
  width:100%;
  /*background-color:#FDD0A2; dynamic set by domain class*/
  z-index:10;

}

.domain_container h2{
  position:absolute;
  left:2.25em;
  top:0.75em;
}


.domain_container .domainIcon{
  left:2.25em;
  top:0.75em;
  width:2em;
  height:2em;
}

.domain_container .plusIcon{
  position:absolute;
  left:45em;
  top:1em;
  width:2em;
  height:2em;
}

.domain_container .subDomainA{
  position:absolute;
  top:5.5em;
  padding-left:1em;
  padding-right:1em;
  width:50%;

}

.domain_container .subDomainB{
  position:absolute;
  top:5.5em;
  left:24em;
  padding-left:1em;
  padding-right:1em;
  width:50%;

}
.subDomainIcon{
  position:absolute;
  top:-0.75em;
/*  width:2em;
  height:2em;*/

}
.tickerTable{
  position:absolute;
  width:18em;
  left:1.5em;
  font-size: 0.8em;
  width:21em;
  top:0em;
  
}

.map_container{
  position:absolute;
  background-color: #f3ece5;
  z-index:5;
  
/*  -webkit-box-shadow: inset 0px 1px 2px -2px "black";
  -moz-box-shadow: inset 0px 1px 2px -2px black;
  box-shadow: inset 0px 1px 2px -2px black;*/

  
}

.footer {
  position:absolute;
  height: 4em;
  width:96%;
  background-color:#FEE6CE;
  padding:1em;
  
  -webkit-box-shadow: 0px -4px 8px -4px black;
  -moz-box-shadow: 0px -4px 8px -4px black;
  box-shadow: 0px -4px 8px -4px black;
  z-index:10;

}

.tooltip {   
  position: absolute;           
  text-align: left;
  font-family: sans-serif;
  color:white;
  font-size: 0.65em;           
  padding: 4px;             
  background: #333;   
  border: 0px;      
  border-radius: 4px;           
  pointer-events: none;
  z-index:15;
  
}












